/* All of the below code is for the general site layout, and for the index page */
* {
    box-sizing: border-box;
}

body	{
	background-image: url("../images/background-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #9F809D;
	font-family: "Courier New", Courier, monospace;
    font-size: 18px;
	margin: 0px;
	height: 100%;
	padding: 0px;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: #46cc0c;
}

a:hover {
    background-color: #9F809D;
    color: #ffffff;
    text-transform: uppercase;
    
}

li {
    padding: 10px;
}

#contentbackground	{
    width: 60%;
    background-image: url("../images/background-02.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    width: 60%;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    background-image:url("../images/Site-Logo.png");
    background-repeat: no-repeat;
    background-position: -7px;
    background-size: auto 110%;
    background-color: #6f8a63;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px;
    
}

.welcome {
    position: relative;
    float: none;
}

.socials {
    position: absolute;
    right:21%;
    top:0.25%;
    width:200px;
    border: 3px solid #46cc0c;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;

}

.info {
    float: none;
    font-size: 16px;
}

.logo {
    width: 200px;
}

.navbar	{
    width: 50%;
    height: 35px;
    background-color: #46cc0c;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    margin: 0 auto;
}

/* This bits of css will be for the Search Bar */

.searchbutton {
    position: absolute;
    left: 33%;
    top: 4.5%;
    width: 8%;
    
}

form {
    background-color: #46cc0c;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000000;

}

input {
    all: unset;
    font: 16px system-ui;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #000;
    opacity: 0.3;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 100px;
    height: 44px;
  }

  
/* The above bits of css were for the Search Bar */

.links {
    position: relative;
    text-align: center;
    padding: 0.5% 10% 0 10%;
}

/*
.link-food {
    float: inline-start;
    text-align: center;
    padding: 0.5% 3% 0px 3%;
}

.link-activ {
    float: center;
    text-align: center;
    padding: 0.5% 3% 0% 3%;
}

.link-faqcont {
    float: center;
    text-align: center;
    padding: 0.5% 3% 0px 3%;
}
*/

.photos {
    text-align: center;
    margin: 0 auto;
}

.roundedimages {
    border-radius: 10%;
}
    

.footer {
    width: 60%;
    margin: 5px auto;
    background-image:url("../images/Site-Logo.png");
    background-repeat: no-repeat;
    background-position: -7px;
    background-size: auto 110%;
    background-color: #6f8a63;
    border: 1px solid #000000;
    font-size: 18px;
    text-align: center; 
    border-radius: 20px;
    padding: 10px;
    
}

.bigarticle {
    width: 90%;
    background-color: #ffffff;
    border:1px solid #000000;
    border-radius: 100px;
    font-size: 18px;
    text-align: left;
    padding: 50px;
    margin: 20px;
   
}

.smallarticle {
    width: 45%;
    background-color: #ffffff;
    border:1px solid #000000;
    border-radius: 100px;
    font-size: 18px;
    text-align: left;
    padding: 50px;
    margin: 20px;
}

.map {
    text-align: center;
}


/* All of the above code is for the general site layout, and for the index page */
/* All of the below code is for the food & produce page */

#contentbackground2	{
    width: 60%;
    background-image: url("../images/background-03.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* All of the above code is for the food & produce page */
/* All of the below code is for the cafe and the shop pages */

#contentbackground3	{
    width: 60%;
    background-image: url("../images/background-04.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#contentbackground4	{
    width: 60%;
    background-image: url("../images/background-05.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* All of the above code is for the cafe and the shop pages */
/* All of the below code is for the faq & contact us page */

#contentbackground5	{
    width: 60%;
    background-image: url("../images/background-06.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* All of the above code is for the faq & contact us page */
/* All of the below code is for the main and seasonal activities pages */

#contentbackground6	{
    width: 60%;
    background-image: url("../images/background-07.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contentbackground7	{
    width: 60%;
    background-image: url("../images/background-08.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #2E4922;
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


